.login-page {
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;

  .mbal-logo {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &-form {
    width: 35vw;
    border-radius: 10px;
    margin-left: 20vw;

    &-title {
      color: #141ed2;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
    }

    &_button {
      width: 100%;
      margin-top: 20px;
    }
  }
}