@import '~antd/es/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/es/style/themes/default.less';

@primary-color: #13c2c2;
@border-radius-base: 4px;
@text-color: #303030;
